//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.


// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
  border-bottom: 1px solid @navbar-default-border;
  position: relative;

  @media (min-width: @grid-float-breakpoint) {
    border-bottom: 0;
  }
}

// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.navbar-collapse {
  background-color: @navbar-default-bg;
  border-top: 0;
  border-bottom: 1px solid transparent;

  &.in {
    overflow-y: auto;
    position: relative;
  }
}


// Brand/project name

.navbar-brand {
  //border-right: 1px solid @navbar-default-border;
  border-right: 1px solid @navbar-default-border;
  text-align: center;
  width: 300px;

  &:hover,
  &:focus {
    //text-decoration: none;
  }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  .navbar-vertical-align(35px);
}

/*  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}*/


// Navbar nav links
//
// Builds on top of the `.nav` components with it's own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  /*margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: @line-height-computed;
  }*/

  // Uncollapse the nav
  /*@media (min-width: @grid-float-breakpoint) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top: ((@navbar-height - @line-height-computed) / 2);
        padding-bottom: ((@navbar-height - @line-height-computed) / 2);
      }
    }
  }*/

}

// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
  //background-color: @navbar-default-bg;
  border-bottom: 0;

  .navbar-nav {
    /*> li > a {
      color: @navbar-default-link-color;
    }*/
    > .active > a {
      &:hover,
      &:focus {
        color: @navbar-default-link-hover-color;
        background-color: @navbar-default-link-hover-bg;
      }
    }

    // Uncollapse the nav
    @media (min-width: @grid-float-breakpoint) {
      > li > a {
        padding-top: (((@navbar-height - 1) - @line-height-computed) / 2);
        padding-bottom: (((@navbar-height - 1) - @line-height-computed) / 2);
      }
    }
  }

  /*.navbar-collapse {
    border-color: @navbar-default-border;
  }*/

}

.gn-menu-main,
.gn-menu {
    //margin: 0;
    //padding: 0;
    //background: white;
    //color: #5f6f81;
    //list-style: none;
    //text-transform: none;
    //font-weight: 400;
    //font-family: @font-family-sans-serif;
    line-height: @navbar-height - 1;
}

.gn-menu-main {
    //position: fixed;
    //top: 0;
    //left: 0;
    width: 100%;
    //height: 60px;
    font-size: 13px;
    //border-bottom: 1px solid #c6d0da;
}

.gn-menu-main a {
    display: block;
    //height: 100%;
    //color: #5f6f81;
    //text-decoration: none;
    cursor: pointer;
}

/* icon-only trigger (menu item) */

.gn-trigger {
//.gn-trigger-right {
    border-right: 1px solid @navbar-default-border;
    //border-bottom: 1px solid @navbar-default-border;
    position: relative;
    width: @navbar-height;
    //float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.gn-menu-main nav {
  float: left;
  margin-right: -@navbar-height;
  padding-right: @navbar-height;
  width: 100%;
}*/

.gn-menu-main > .gn-item > a,
.gn-menu-main > nav > .gn-item a {
    padding-left: @navbar-height / 2;
    padding-right: @navbar-height / 2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.gn-menu-main:after {
    display: table;
    clear: both;
    content: "";
}

.gn-menu-wrapper {
    position: fixed;
    top: @navbar-height;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: @navbar-height;
    border-right: 1px solid @navbar-default-border;
    background: white;
    .transition(all .2s ease-in-out);
}

.gn-menu-wrapper.no-icons {
  border-color: transparent;
  width: 0;
}

.side-menu-icons {
  .gn-menu-wrapper {
    width: @navbar-height;
    border-color: @navbar-default-border;
  }
  + .content {
    margin-left: @navbar-height + 15px;
  }
}

.gn-menu-push {
  .content {
    margin-left: 365px;
  }
  .gn-menu-wrapper.gn-open-all {
    .box-shadow(none);
  }
}

/*.gn-trigger-right {
  .gn-menu-wrapper {
    border-left: 1px solid #c6d0da;
    border-right: 0;
    left: auto;
    right: 0;
  }
  &.gn-open-all {
    .box-shadow(-1px 0 2px rgba(0,0,0,.1));
  }
}*/

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 300px + 30px;
    height: 100%;
}

.gn-menu {
    border-bottom: 1px solid @navbar-default-border;
    font-size: 14px;
    li {
      background-color: white;
      //&:hover {
        //.gn-submenu {
          //padding: 0 0 (@line-height-computed - (@line-height-computed / 3));
          //li {
            //height: @line-height-computed + 3;
            //line-height: @line-height-computed + 3;
            //.opacity(1);
          //}
        //}
      //}
      > a {
        padding: 0 45px 0 0;
      }
    }
}

.gn-menu > li:not(:first-child) {
  .box-shadow(inset 0 1px @navbar-default-border);
}

.gn-submenu {
  li {
    height: 0;
    //line-height: 0;
    //.opacity(0);
    //.transition(all .2s ease-in-out);
    a {
      color: #c1c9d1;
      padding-left: @navbar-height;
    }
  }
  .fa-icon:before {
    font-size: 14px;
    text-align: left;
    vertical-align: baseline;
    width: 25px;
  }
}

.fa-icon:before {
    width: @navbar-height;
    text-align: center;
    text-transform: none;
    font-variant: normal;
    line-height: 1;
    speak: none;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    vertical-align: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* if an icon anchor has a span, hide the span */

.fa-icon span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.fa-ellipsis-v:before {
    margin-left: -15px;
    vertical-align: middle;
    width: 30px;
    font-size: 21px;
}

.fa-ellipsis-v.gn-selected {
    background: #5f6f81;
    color: white;
    &:before {
      content: "\f00d";
      vertical-align: -2px;
    }
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all {
  border-color: @navbar-default-border;
  width: 300px;
  .box-shadow(1px 1px 2px rgba(0,0,0,.1));
  
  .gn-submenu li {
    height: @line-height-computed + 3;
    line-height: @line-height-computed + 3;
    
    &:last-child {
      margin-bottom: @line-height-computed - (@line-height-computed / 3);
    }
  }
}

.content {
  margin: 0 0 21px 65px;
  .transition(margin-left .2s ease-in-out);
}

.no-touch {
  .gn-menu-main a:hover {
    background: #5f6f81;
    color: white;
  }
  .gn-menu-main a.fa-ellipsis-v {
    display: none;
  }
  /*.gn-trigger {
    width: 0;
    border-right: 0;
  }*/
  //.gn-menu-main .gn-trigger-right {
  //  width: 0;
  //  border-left: 0;
  //}
  /*.fa-ellipsis-v {
    display: none;
  }*/
  /*.gn-menu-wrapper.gn-open-all {
    width: 300px;
  }
  .gn-scroller {
    width: 330px;
  }*/

  .side-menu-icons {
    .gn-trigger {
      width: 0;
      border-right: 0;
    }
    .fa-ellipsis-v {
      display: none;
    }
    &.gn-menu-main nav {
      margin-right: 0;
      padding-right: 0;
    }
    .gn-scroller {
      width: 330px;
    }
    .gn-menu-wrapper.gn-open-all {
      width: 300px;
    }
  }
}

@media (min-width: @grid-float-breakpoint) {

  .gn-menu-wrapper {
    width: 300px;
  }

  .gn-menu-wrapper.gn-open-all {
    .box-shadow(none);
  }

  /*.gn-menu-main nav {
    margin-right: 0;
    padding-right: 0;
  }*/

  .gn-submenu li {
    height: @line-height-computed + 3;
    line-height: @line-height-computed + 3;
    
    &:last-child {
      margin-bottom: @line-height-computed - (@line-height-computed / 3);
    }
  }

  .side-menu-icons {
    /*&.gn-menu-main nav {
      margin-right: 0;
      padding-right: 0;
    }
    .gn-scroller {
      width: 330px;
    }
    .gn-menu-wrapper.gn-open-all {
      width: 300px;
    }*/
    /*+ .content {
      margin-left: @navbar-height + 15px;
    }*/
  }

  .content {
    margin-left: 315px;
  }
}

@media screen and (max-width: @screen-tablet) { 
  /*.gn-menu-wrapper.gn-open-all {
      width: 100%;
  }

  .gn-menu-wrapper.gn-open-all .gn-scroller {
      width: 130%
  }*/

  .touch {
    .gn-menu-main a.fa-ellipsis-v {
      display: block;
    }
    .gn-trigger {
      border-bottom: 1px solid @navbar-default-border;
      float: left;

      + nav {
        float: left;
        margin-right: -@navbar-height;
        padding-right: @navbar-height;
        width: 100%;
      }
    }
  }
}

/*.wrap {
  padding-left: 48px;
  position: relative;
  top: 0;
  width: 100%;
  .transition(padding-left .3s ease-in-out);
}

.side-menu {
  background-color: #fff;
  border-right: 1px solid @panel-default-border;
  margin: 0 0 0 -48px;
  position: fixed;
  top: 51px;
  bottom: 0;
  height: 100%;
  width: 48px;
  .transition(all .3s ease-in-out);

  .nav {
    li {
      + li {
        margin-top: 0;
      }
    }
    a {
      white-space: nowrap;
      border-radius: 0;
    }
    .active {
      margin-right: -1px;
    }
  }

  .fa {
    font-size: 18px;
    padding-right: 32px;
    width: 1em;
    + span {
      margin-left: -250px;
      //.opacity(0);
      .transition(margin-left .3s ease-in-out);
    }
  }

  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 10px 12px;
    .icon-bar {
      background-color: @gray;
    }
  }
}*/

/*.show-menu {
  &.side-menu {
    .box-shadow(1px 0 2px rgba(0,0,0,.05));
    z-index: 10;
    width: 250px;

    .nav {
      .active a:hover {
        .fa + span {
          color: white;
        }
      }
    }
    .fa {
      + span {
        margin-left: 0;
        //.opacity(1);
      }
    }
    .panel-body {
      border-bottom: 1px solid @panel-default-border;
    }
  }
}*/

/*@media (min-width: @screen-sm) {
  .wrap {
    padding-left: 250px;
  }

  .side-menu {
    margin-left: -250px;
    width: 250px;

    .nav {
      .active a:hover {
        .fa + span {
          color: white;
        }
      }
    }

    .fa {
      //padding-right: 29px;
      + span {
        margin-left: 0
        .opacity(1);
      }
    }

    .panel-body {
      border-bottom: 1px solid @panel-default-border;
    }
  }
}*/
