.gn-off {
  .gn-menu-wrapper {
    width: 0;
    &.gn-open-all {
      width: 300px + @navbar-height;
    }
  }
  .gn-scroller {
    width: 300px + @navbar-height + 30px;
  }
  &.gn-left {
    .gn-menu-wrapper {
      border-right-width: 0;
      &.gn-open-all {
        border-right-width: 1px;
      }
    }
  }
  &.gn-right {
    .gn-menu-wrapper {
      border-left-width: 0;
      &.gn-open-all {
        border-left-width: 1px;
      }
    }
  }
}


@media (min-width: @grid-float-breakpoint) {
  .gn-off {
    &.gn-fw,
    &.gn-icons {
      + .gn-right,
      &.gn-left {
        + nav {
          padding-left: 0;
        }
      }
      &.gn-right {
        + nav {
          padding-right: 0;
        }
      }
    }
  }
 
  .gn-fw {
    .gn-menu-wrapper,
    .gn-menu-wrapper.gn-open-all {
      .box-shadow(none);
      width: 300px;
    }
    .gn-scroller {
      width: 300px + 30px;
    }
    &.gn-off {
      .fa-ellipsis-v {
        display: none;
      }
    }
  }

  .gn-icons {
    .gn-menu-wrapper {
      width: @navbar-height;
      &.gn-open-all {
        width: 300px;
      }
    }
  }

  .no-touch .gn-icons,
  .gn-off.gn-fw {
    border-width: 0;
  }

  .no-touch .gn-off.gn-icons {
    .fa-ellipsis-v {
      display: none;
    }
  }

  .touch .gn-icons {
    .gn-scroller {
      width: 300px + @navbar-height + 30px;
    }
    .gn-menu-wrapper.gn-open-all {
      width: 300px + @navbar-height;
    }
  }

  .gn-left {
    &.gn-icons,
    &.gn-fw {
      .gn-menu-wrapper {
        border-right-width: 1px;
      }
    }
  }
  .gn-right {
    &.gn-icons,
    &.gn-fw {
      .gn-menu-wrapper {
        border-left-width: 1px;
      }
    }
  }
}