.gn-icons {
  .gn-menu-wrapper {
    width: @navbar-height;
  }
  .gn-menu-wrapper.gn-open-all {
    width: 300px;
  }
}


.gn-off {
  .gn-menu-wrapper {
    border-width: 0;
    width: 0;
  }
  .navbar-collapse {
    margin-left: -@navbar-height;
  }
}

.gn-off,
.touch .gn-icons {
  .gn-menu-wrapper.gn-open-all {
    width: 300px + @navbar-height;
  }
  .gn-scroller {
    width: 300px + @navbar-height + 30px;
  }
  &.gn-trigger {
    float: left;
    width: @navbar-height;
    border-right-width: 1px;

    .gn-menu-wrapper.gn-open-all {
      border-right-width: 1px;
      .box-shadow(1px 1px 2px rgba(0,0,0,.1));
    }

    + .gn-trigger-right + nav {
      margin-right: -@navbar-height * 2;
      padding-right: @navbar-height * 2;
    }
  }
  &.gn-trigger-right {
    .gn-menu-wrapper.gn-open-all {
      border-left-width: 1px;
    }
  }
}

.gn-off,
.touch .gn-icons {
  &.gn-trigger,
  &.gn-trigger-right {
    border-bottom: 1px solid @navbar-default-border;
    + nav {
      float: left;
      margin-right: -@navbar-height;
      padding-right: @navbar-height;
      width: 100%;
    }
  }
}


.gn-off.gn-item,
.touch .gn-icons {
  a.fa-ellipsis-v {
    display: block;
  }
}

.gn-off-content,
.gn-ocfw-content,
.gn-ocio-content, {
  margin-left: 15px;
}


@media (min-width: @grid-float-breakpoint) {
  .gn-icons {
    &.gn-trigger {
      .gn-menu-wrapper.gn-open-all {
        .box-shadow(1px 1px 2px rgba(0,0,0,.1));
      }
    }
  }
  
  .no-touch .gn-off.gn-icons,
  .gn-off.gn-fw {
    .gn-scroller {
      width: 300px + 30px;
    }
    &.gn-trigger,
    &.gn-trigger-right {
      width: 0;
      border-right-width: 0;
      + nav {
        margin-right: 0;
        padding-right: 0;
      }
    }
    a.fa-ellipsis-v {
      display: none;
    }
  }

  .no-touch .gn-off.gn-icons {
    .gn-menu-wrapper.gn-open-all {
      width: 300px;
    }
  }
 
  .gn-off.gn-fw {
    .gn-menu-wrapper,
    .gn-menu-wrapper.gn-open-all {
      border-right-width: 1px;
      .box-shadow(none);
      width: 300px;
    }
  }

  .gn-off.gn-icons,
  .touch .gn-icons {
    .gn-menu-wrapper {
      border-right-width: 1px;
      width: @navbar-height;
      &.gn-open-all {
        width: 300px + @navbar-height;
      }
    }
  }

  .gn-off.gn-fw,
  .gn-off.gn-icons,
  .touch .gn-icons {
    &.gn-trigger-right {
      .gn-menu-wrapper {
        border-left-width: 1px;
      }
    }
  }

  .gn-io-content,
  .gn-ocio-content {
    margin-left: @navbar-height + 15px;
  }

  .gn-menu-push .gn-io-content,
  .gn-ocfw-content {
    margin-left: 300px + 15px;
  }
}